.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.plot-wrapper {
  padding: 2rem 2rem;
  color: #fff;
}

.plot-description {
  max-width: 600px;
  margin: auto;
  text-align: justify;
}

.plot-contents {
  max-width: 1400px;
  margin: auto;
  padding: 2rem 0;
}

.plot-facets {
  justify-content: center;
}

.plot-facet {
  margin-bottom: 3rem;
  list-style: none;
}

.plot-description-facet {
  max-width: 500px;
  margin: auto;
  font-size: 14px;
  text-align: justify;
  line-height: 1.7;
}

#graph-title {
  margin-top: 150px;
}

#btn-personality {
  margin-bottom: 50px;
}

#modal-title {
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  color: black;
  text-align: center;
}

/* Strength analysis */
.result-strength-container {
  max-width: 800px;
  margin-top: 5px;
}

.icon-brain {
  position: relative;
  max-width: 150px;
  margin: auto;
  margin-top: 3rem;
}

.analysis-strength {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 37%;
  z-index: 2;
}

.analysis-strength .badge {
  padding: 0.25rem 1rem;
  font-weight: 600;
  background: #000;
  color: #fff;
}

.analysis-strength .analysis-weak {
  background: #dc3545;
}

.analysis-strength .analysis-moderate {
  background: #f4c242;
}

.analysis-strength .analysis-strong {
  background: #27a81e;
}

.analysis-strength .analysis-very-strong {
  background: #055b00;
}

.analysis-strength-toolip {
  font-size: 12px;
}

/* 
Recommendations */
.username-recommend {
  margin-top: 500px;
}

.movies-me {
  margin-top: 100px;
}

/* Loading icon Styles*/
.icon-loading-wrapper {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.icon-loading-status {
  position: absolute;
  border-radius: 5px;
  width: 200px;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -100px;
  text-align: center;
  background: #fff;
  padding: 1rem;
  font-size: 0.75rem;
}

.icon-loading-status img {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
